{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
<title> Online Electronic Store | About Us</title>
{% endblock %}

{% block style %}
<style>
/* -- services --*/
.d{
	padding:15px;
}
h4.heading {
    font-size: 40px;
    letter-spacing: 1px;
    width: 60%;
    margin: auto;
    line-height: 50px;
}
.service-grids h5 {
    font-size: 25px;
	letter-spacing: 1px;
	padding: 5px;
}

.grid1 span.fa {
    background: rgba(0, 159, 77, 0.1);
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    color: #009f4d;
    border-radius: 50%;
}
.grid2 span.fa {
    background: rgba(254, 80, 0, 0.1);
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    color: #fe5000;
    border-radius: 50%;
}

.grid3 span.fa {
    background: rgba(45, 222, 152, 0.1);
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    color: #2dde98;
    border-radius: 50%;
}
.grid4 span.fa {
    background: rgba(255, 79, 129, 0.1);
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    color: #ff4f81;
    border-radius: 50%;
}
.grid5 span.fa {
    background: rgba(142, 67, 231, 0.1);
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    color: #8e43e7;
    border-radius: 50%;
}

.grid6 span.fa {
    background: rgba(51, 105, 231, 0.1);
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    color: #3369e7;
    border-radius: 50%;
}
.services .grid1,.services .grid2,.services .grid3,.services .grid4,.services .grid5,.services .grid6 {
    box-shadow: 7px 7px 10px 0px rgba(103, 151, 179, 0.1);
}
html, body{
    font-size: 100%;
	background:	#fff;
	font-family:'Open Sans', sans-serif;
}
p{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Glegoo', serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/* --services-- */
</style>
{% endblock %}

{% block body %}
	<!-- banner -->
	<div class="banner banner10">
		<div class="container">
			<h2>About Us</h2>
		</div>
	</div>
	<!-- //banner -->   
	<!-- breadcrumbs -->
	<div class="breadcrumb_dress">
		<div class="container">
			<ul>
				<li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
				<li>About Us</li>
			</ul>
		</div>
	</div>
	<!-- //breadcrumbs --> 
	<!-- about -->
	<div class="about">
		<div class="container">	
			<div class="w3ls_about_grids">
					<h4 class="heading text-capitalize text-center mb-lg-5 mb-4 pb-2">Online Electronics Store</h4></br></br>
			    </br>
				<div class="col-md-6 w3ls_about_grid_left">
					<p> 
						<strong style="font-size:18px">Our Purpose and Goal:</strong>
					</br>
						Due to rapid growth of technology, business organizations have switched over from the 
						traditional method of selling goods to method of online selling goods. Our goal is to be the 
						best online  place to find wide varieties of high-quality electronics products with discounts.
						Customer satisfaction is one of our main purpose.we are the best online platform for shopping.
					</p>
					<div class="col-xs-2 w3ls_about_grid_left1">
						<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
					</div>
					<div class="col-xs-10 w3ls_about_grid_left2">
						<p>
							<strong>Benefits of shopping:</strong>
							<br/>
							•&nbsp; Compare various models / brands.</br>
                            •&nbsp; Wide variety / range of products are available.</br>
                            •&nbsp; Good discounts / Better prices.</br>
                            •&nbsp; detailed information of the product/Stock Details.</br>
							•&nbsp; Convenient of shopping at Home.</br>
							•&nbsp; Complaints.</br>
						</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 w3ls_about_grid_right">
					<img src="{% static 'images/52.jpg' %}" alt=" "style="height:360px" class="img-responsive" />
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about --> 
    	<!-- Services -->
<section class="services bg-light py-5" id="ideas">
	<div class="container py-lg-5 py-3">
		<h4 class="heading text-capitalize text-center mb-lg-5 mb-4 pb-2">Our Services</h4></br></br>
		<div class="row service-grids">
			<div class="d col-lg-4 col-md-6">
				<div class="grid1 text-center p-4 bg-white">
					<br/>
					<span class="fa fas fa-balance-scale"></span>
					<h5 class="my-3">Brands & Models</h5></br>
					<p>We can compare various models/brands.</p>
					<br/>
				</div>
			</div>
			<div class="d col-lg-4 col-md-6 mt-lg-0 mt-md-5 mt-4">
				<div class="grid2 text-center p-4 bg-white">
					<br/>
					<span class="fa fa-bars"></span>
					<h5 class="my-3">Wide varieties</h5></br>
					<p>Range of products are available.</p>
					<br/>
				</div>
			</div>
			<div class="d col-lg-4 col-md-6 mt-lg-0 mt-md-5 mt-4">
				<div class="grid3 text-center p-4 bg-white">
					<br/>
					<span class="fa fa-truck"></span>
					<h5 class="my-3">Home Delivery</h5></br>
					<p> Convenient of shopping at home.</p>
					<br/>
				</div>
			</div>
			<div class="d col-lg-4 col-md-6 mt-md-5 mt-4">
				<div class="grid4 text-center p-4 bg-white">
					<br/>
					<span class="fa fas fa-percent"></span>
					<h5 class="my-3">Discount</h5></br>
					<p>Products are available at good discounts/better prices.</p>
					<br/>
				</div>
			</div>
			<div class="d col-lg-4 col-md-6 mt-md-5 mt-4">
				<div class="grid5 text-center p-4 bg-white">
					<br/>
					<span class="fa fa-usd"></span>
					<h5 class="my-3">Cash On Delivery</h5></br>
					<p>We support both online payment & cash on Delivery.</p>
					<br/>
				</div>
			</div>
			<div class="d col-lg-4 col-md-6 mt-md-5 mt-4">
				<div class="grid6 text-center p-4 bg-white">
					<br/>
					<span class="fa fa-comments"></span>
					<h5 class="my-3">Orders/Feedbacks</h5></br>
					<p>Check order status/give feedback or make Complaints</p>
					<br/>
				</div>
			</div>
		</div>
	</div>
</br></br></br>
</section>
<!-- //Services -->

	<div class="team team-bottom">
		<div class="container">
			<h1>Are You Ready For Deals?</h1>
			</br>
			<a href="{% url 'myapp:showproducts' %}">Shop Now</a>	
		</div>
	</div>
	
{% endblock %}